*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 18thCentury, Arial, Helvetica, sans-serif;
    background: rgb(23, 20, 31);
    margin: 0 auto;	
	text-align: center;	
} 

/****Background Section Behind Content and Nav******************/
section{
	background-color: #ddd; /***background**/
	background-position: center;
	height: 100%;
	max-width: 920px;
    margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 0 10px 0;
	border-radius: 10px;
}
/***Header Wraps Nav & Logo*****/
header{
	max-width: 900px;
	justify-content: center;
	align-content: center;
	border-radius: 10px;
	box-shadow: 0 0 10px black;
	margin: 0 auto;
	background: rgb(23, 20, 31);
	margin:0 10px 0 10px;
}

/********Nav**Area**Start**********/
.nav{
	display: grid;
	height: 70px;
	max-width: 400px;
	grid-template-columns: repeat(4, minmax(70px, 70px));
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	grid-auto-rows: repeat(10, minmax(80px, .4fr));
	margin: 0 auto;
	grid-gap: 5px;
	text-align: center;
	padding: 5px;
	justify-content: center;
	align-content: center;
	border-radius: 10px;
}

.nav p{
	font-size: 12px;
	justify-content: center;
	align-items: center;
	color: #ddd;
	margin: 0 auto;
	padding-top: 2px;
	padding-bottom: 0;
}

.nav div{
	background-color: purple;
	padding: 5px;
}

.nav a{
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
/******Nav Images**Start*****/
.box0{background-image: url(../images/home_icon.jpg);}
.box30{background-image: url(../images/chart_icon.jpg);}
.box31{background-image: url(../images/brain_icon.jpg);}
.box32{background-image: url(../images/blog_icon.png);}
/****Nav Images Finish*****/

/**Box*Controls**Nav Icons*Area**/
.box{
	border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;	
	padding: 5px;
	height: 35px;
	width: 35px;
	margin: 0 auto;
	box-shadow: 2px 2px 2px 2px rgb(26, 26, 26);
}

.box0:active, .box30:active, .box31:active, .box32:active {
	height: 30px;
	width: 30px;
}

/****Grid Holding Blogs**********/
.container{
	display: grid;
	max-height: 100%;
	max-width: 920px;
	grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
	grid-auto-rows: repeat(10, minmax(80px, .4fr));
	margin: 0 auto;
	margin: 10px 10px 0 10px;	
	grid-gap: 15px;
	text-align: center;
	padding: 10px;
	justify-content: center;
	border-radius: 10px;
	background: rgb(23, 20, 31);
	box-shadow: 0 0 10px black;
}
	
/**BKGD Behind Blog IMGs********/
.container div{
	  padding: 10px;
	  box-shadow: 0 0 20px black;
	  background-color: #ddd;
	  border-radius: 10px;
}

p{
	color: #ddd;
	padding: 10px;
}

img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 0 5px black;
}

/****Text**inside**or**below**content**boxes*******/
a{
	text-decoration: none;	
}

/***Grid Section**That**has**the**blog**imgs**or**colors*in*grid***/
.blog{
	height: 130px;
	box-shadow: 1px 1px 1px 1px rgb(86, 86, 86);
}
 
.blog:active{
	height: 65%;
	width: 90%;
}

/**Coinbase**Earn**Blog****/
.blog9{
	background-color: green;
	color: pink;
	background-image: url(../images/cb_earn4.png);
}

.box{
	border-radius: 12px;
	text-align: center;	
	background-size: cover;
	background-repeat: no-repeat;
}

/*****Tipbot settings**start****/
.baconwrap{
	display: grid;
	grid-template-columns:repeat(1, minmax(60px, 90px));
	grid-template-rows: repeat(1,  minmax(60px, auto));
	max-width: 100px;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	padding-top: 20px;
	padding-bottom: 15px;
	justify-content: center;
	grid-gap: 10px;
	margin: 0 auto;
}

.baconwrap div:nth-child(even){
	background: #777;
	padding: 10px;
}
	
.baconwrap div{
	padding: 20px;
	border-radius: 10px;
}

.tipbot{
	width:40px;
	height: 45px;
	background-image: url(../images/taco_05.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;		    
}

.taco-text{
	margin: 0 auto;
	color: brown;
	font-size: 16px;
	width:100%;
	padding: 0;
}

.tipbot p{
	width:80px;
	height: 75px;

	color: black;
}
/*******Tipbot settings**finish*********/


     /***********Media Queries*******************/
@media screen and (max-width: 650px){
	.container{
		display: grid;
		grid-template-columns: repeat(2, minmax(200px, auto));
	}
}
		/***************************************/
@media screen and (max-width: 450px){
.container{
	display: grid;
	grid-template-columns: repeat(2, minmax(100px, auto));
}
.nav{
	grid-template-columns: repeat(4, minmax(70px, 70px));
 }
}
		/***************************************/	
@media screen and (max-width: 383px){
.nav{
	grid-template-columns: repeat(4, minmax(50px, 50px));
 }

.container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, auto));
} 
}
		
/***************************************/
@media screen and (max-width: 255px){
.buy_now{
	width: 100%;
	}
		
.box0, .box30, .box31, .box32 {
	height: 30px;
	width: 30px;
 } 
}	
		
	/***************************************/
@media screen and (max-width: 255px){
.nav{
	grid-template-columns: repeat(4, minmax(50px, 50px));
	grid-gap: 5px;
}
.nav p{
	font-size: 14px;
	}
}