
                                                        /***
	                                                        #4ea2ea blue            
	                                                         #69bf5e green
	                                                          #e1b77b yellow
	                                                          #ba4956 red 
	                                                           #c9b7eb purple


                                                        **/

* {
	margin: 0 auto;
	padding: 0;
}

body{
	font-family: 18thCentury, Arial, Helvetica, sans-serif;
    background: rgb(23, 20, 31);
    margin: 0 auto;	
	text-align: center;
}
		                                                  
a{
text-decoration: none;	
}

p{
	font-size: 18px;
	line-height: 24px;
	word-spacing: 8px;
	color: black;
	font-family: helvetica;
	margin-top: 10px;
	
}

/****Background Section Behind Content and Nav******************/
section{
	background-color: #ddd; /***background**/
	background-position: center;
	height: 100%;
	max-width: 920px;
	background-size: cover;
	background-repeat: no-repeat;
    margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 0 10px 0;
	border-radius: 10px;
}
   
/********Nav**Area**Start*******************************/
.nav{
	display: grid;
	max-height: 80px;
	max-width: 900px;
	grid-template-columns: repeat(4, minmax(70px, 70px));
	grid-auto-rows: repeat(10, minmax(80px, .4fr));
	margin: 0 auto;
	margin: 0 10px 10px 10px;
	grid-gap: 15px;
	text-align: center;
	padding: 10px;
	padding-top: 10px;
	justify-content: center;
	align-content: center;
	border-radius: 10px;
	background-color: rgb(26, 26, 26);
	background: rgb(23, 20, 31);
    box-shadow: 0 0 10px black;
	 
}
	
.nav div{
      background-color: purple;
	  padding: 5px;
}

.nav div:nth-child(even){
       background-color: skyblue;
}

.nav p{
	font-size: 16px;
	justify-content: center;
	align-items: center;
	color: #ddd;
}
/********Nav**Area**Finish*******************************/

.box{
	border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;	
	padding: 5px;
}

.box29, .box30, .box31, .box32 {
	height: 40px;
	width: 40px;
	margin: 0 auto;
	box-shadow: 2px 2px 2px 2px rgb(26, 26, 26);
}

.box29:active, .box30:active, .box31:active, .box32:active {
	height: 35px;
	width: 35px;
}

.container{
	display: grid;
	max-height: 100%;
	max-width: 920px;
	grid-template-columns: repeat(3, minmax(200px, auto));
	grid-auto-rows: repeat(4, minmax(250px, auto));
	margin: 0 auto;
	margin-left: 10px;
	margin-right: 10px;	
	grid-gap: 15px;
	text-align: center;
	padding: 10px;
	justify-content: center;
	border-radius: 10px;
	background: rgb(23, 20, 31);
	box-shadow: 0 0 10px black;
}
	
.container div{
	  padding: 10px;
	  box-shadow: 0 0 20px black;
	  background-color: #ddd;
}

/**
.container div:nth-child(5n + 1){
	 background-color: #4ea2ea;
	 background-color: #ddd;
}

.container div:nth-child(5n + 2){
	 background-color: #69bf5e;
	 background-color: #ddd;
}

.container div:nth-child(5n +3){
    background-color: #e1b77b;
	background-color: #ddd;
}

.container div:nth-child(5n + 4){
	 background-color: #ba4956;
	 background-color: #ddd;
}

.container div:nth-child(5n + 5){
	background-color: #c9b7eb;
	background-color: #ddd;
}**/
.box29{background-image: url(../images/home_icon.jpg);}
.box30{background-image: url(../images/chart_icon.jpg);}
.box31{background-image: url(../images/brain_icon.jpg);}
.box32{background-image: url(../images/blog_icon.png);}
	
img{
	width: 100%;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 0 5px black;
}

.buy_now{
	width: 50%;
}

      /***************************************/
@media screen and (max-width: 650px){
.container{
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, auto));
 }
}
      /***************************************/
@media screen and (max-width: 500px){
.container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, auto));
 }
.nav{
		grid-template-columns: repeat(4, minmax(70px, 70px));
 }
}
     /***************************************/	
@media screen and (max-width: 347px){
.nav{
		grid-template-columns: repeat(4, minmax(50px, 50px));
}

}
 
/***************************************/
@media screen and (max-width: 255px){
.buy_now{
	width: 100%;
 }

 .box29, .box30, .box31, .box32 {
	height: 30px;
	width: 30px;
	margin: 0 auto;
	box-shadow: 2px 2px 2px 2px rgb(26, 26, 26);
} 
}	

	/***************************************/
@media screen and (max-width: 255px){
.nav{
	grid-template-columns: repeat(4, minmax(50px, 50px));
	grid-gap: 5px;
}
.nav p{
	font-size: 14px;
}
}


