* {
	margin: 0 auto;
	padding: 0;
}

 
body{
	height: 100%; /****Just Added Height/width To Test********/
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
    /**background: #333; **/
	/**
	background:
		linear-gradient(45deg, rgba(108, 103, 154, 0.5) 0%, rgba(108, 103, 154, 0.5) 25%,rgba(110, 128, 180, 0.5) 25%, rgba(110, 128, 180, 0.5) 50%,rgba(111, 154, 205, 0.5) 50%, rgba(111, 154, 205, 0.5) 75%,rgba(113, 179, 231, 0.5) 75%, rgba(113, 179, 231, 0.5) 100%),linear-gradient(135deg, rgb(7, 175, 249) 0%, rgb(7, 175, 249) 25%,rgb(11, 140, 230) 25%, rgb(11, 140, 230) 50%,rgb(16, 105, 211) 50%, rgb(16, 105, 211) 75%,rgb(20, 70, 192) 75%, rgb(20, 70, 192) 100%);
    **/
	background: rgb(23, 20, 31);	
	color: #fff;	
	text-align: center;	
	margin: 0 auto;
}

p, a , div{
	text-decoration: none;
	font-size: 12px;
}


#btc_price_img {
	height: 30px;
	width: 30px;
	background-color: steelblue;
}


/***********Section Body Grid Area***************************************/
section{
	/***Took The Image Out And Used A img Tag In HTML Under .test********/
	background-position: center;
    height: 100vh;  /***Changed from 135***/
	max-width: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;	
}

#content{ /**Content Is Nav Icons And All Other Icons Combined*********/
	display: grid;  /**Usually I have Them Separate*********/
	max-height: 100%;
	max-width: 100%;
	grid-template-columns: repeat(4, minmax(60px, 60px));
	grid-auto-rows: repeat(10, minmax(80px, .4fr));
	grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
	grid-auto-rows: 80px;
	margin: 0 auto;
	grid-gap: 2%;
	grid-column-gap: 2%;
	text-align: center;
	justify-items: center;
	padding: 10px;
}

#content div{
    background-color: purple;
	padding: 5px;
}

#content a {
	height: 20px;
}

#content div:nth-child(even){
       background-color: skyblue;
}

p{
	color: #fff;
	line-height: 2em;
	text-decoration: none;
}

.box{
	height: 50px;
	width: 50px;
	border-radius: 10px;
	text-align: center;	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 2px 2px 2px 2px rgb(26, 26, 26);
}

.box:hover{
	background-color: grey;
}

.box:active{
	height: 45px;
	width: 45px;
}

.box25{
	background-image: url(../images/left.jpg);
}

.box26{
	background-image: url(../images/right.jpg);
}

.box29{
	background-image: url(../images/home_icon.jpg);
}

.box30{
	background-image: url(../images/chart_icon.jpg);
}

.box31{
	background-image: url(../images/brain_icon.jpg);
}

.box32{
	background-image: url(../images/blog_icon.png);		
}

footer{
	margin-top: 50px;
}

footer a{
	font-size: 22px;
	color: #fff;	
}

/*****************Media Query Tablets*************************************/


