* {
	margin: 0 auto;
	padding: 0;
}


body, html{
	height: 100%; /****Just Added Height/width To Test********/
/**	width: 100vw;**/
	
	font-family: Arial, Helvetica, sans-serif;
    background: #333;
	background:
		linear-gradient(45deg, rgba(108, 103, 154, 0.5) 0%, rgba(108, 103, 154, 0.5) 25%,rgba(110, 128, 180, 0.5) 25%, rgba(110, 128, 180, 0.5) 50%,rgba(111, 154, 205, 0.5) 50%, rgba(111, 154, 205, 0.5) 75%,rgba(113, 179, 231, 0.5) 75%, rgba(113, 179, 231, 0.5) 100%),linear-gradient(135deg, rgb(7, 175, 249) 0%, rgb(7, 175, 249) 25%,rgb(11, 140, 230) 25%, rgb(11, 140, 230) 50%,rgb(16, 105, 211) 50%, rgb(16, 105, 211) 75%,rgb(20, 70, 192) 75%, rgb(20, 70, 192) 100%);
    color: #fff;	
	text-align: center;	
}

p, a , div{
	text-decoration: none;
	font-size: 12px;
}

/***********Section Body Grid Area***************************************/

section{
/**	background-image: url(/images/ipad_primary_color.png);***/
	/***Took The Image Out And Used A img Tag In HTML Under .test********/
	background-position: center;
    height: 135vh;
	background-size: cover;
	background-repeat: no-repeat;	
}

#content{ /**Content Is Nav Icons And All Other Icons Combined*********/
	display: grid;  /**Usually I have Them Separate*********/
	max-height: 100%;
	max-width: 100%;
	grid-template-columns: repeat(4, minmax(60px, 60px));
	grid-auto-rows: repeat(10, minmax(80px, .4fr));
	margin: 0 auto;
	grid-gap: .5em;
	grid-column-gap: 1.5em;
	grid-row-gap: 2%;
	text-align: center;
	padding: 10px;
}

#content div{
      background-color: purple;
	  padding: 25px;
}

#content div:nth-child(even){
       background-color: skyblue;
}

.box{
	border-radius: 12px;
	text-align: center;	
	background-size: cover;
	background-repeat: no-repeat;
	height: 12px;
}

p{
	color: #fff;
	line-height: 2em;
	text-decoration: none;
}

.box{
	border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.box25{
	background-image: url(/images/left.jpg);
}

.box26{
	background-image: url(/images/right.jpg);
}

.box29{
	background-image: url(/images/home_icon.jpg);
}

.box30{
	background-image: url(/images/chart_icon.jpg);
}

.box31{
	background-image: url(/images/brain_icon.jpg);
}

.box32{
	background-image: url(/images/blog_icon.png);		
}

footer{
	margin-top: 50px;
}

footer a{
	font-size: 22px;
	color: #fff;	
}

/*****************Media Query Tablets*************************************/
@media screen and (max-width: 1030px) {

}
/**************************************************/
@media screen and (max-width: 615px) {
/***********Section Body Grid Area***************************************/	
section{
	height: 260vh;
}
}
/**************************************************/
/*******Mobile Devices ***************************/
/**************************************************/
@media screen and (max-width: 415px) {

/***********Section Body Grid Area***************************************/	
section{
	height: 136vh;
}
#content{
	grid-template-columns: repeat(4, minmax(65px, 65px));
	grid-template-rows: repeat(4, minmax(60px, 90px));
	grid-gap: .6em;
	grid-column-gap: 1.8em;	
/***	justify-content: center;**commented This Out To Get Icons To lineUp In Ipod Image On Mobile View**/
	justify-content: center;
}
	
#content div{
	   padding: 5px;
}
	
p{
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 5px;
}
	
.box{
	height: 58px;
 }
}
/**************************************************/
/*******SMART WATCHES ***************************/
@media screen and (max-width: 340px) {
/***********Section Body Grid Area***************************************/
section{ 
	max-height: 140vh;
}
	#content{
	grid-template-columns: repeat(4, minmax(60px, 60px));
	grid-auto-rows: repeat(4, minmax(70px, 70px));
	margin: 0 auto;
	grid-gap: .3em;
	grid-column-gap: 1.1em;	
}
	
#content div{
	padding: 4px;
}

#content div:nth-child(even){
	padding: 4px;
}
	


.box{
	height: 55px;	
 }	
}

/**************************************************/
/*******Mobile and WATCHES ***************************/
@media screen and (max-width: 303px) {
/***********Section Body Grid Area***************************************/
#content{
	grid-template-columns: repeat(4, minmax(50px, 50px));
	grid-auto-rows: repeat(10, minmax(50px, 50px));
    grid-gap: 1%;
	grid-column-gap: 5%;
	padding:  15px;
	padding-top: 10px;
}
	
#content div{
	padding: 15px;
}

#content div:nth-child(even){
	padding: 15px;
}
	
section{
	height: 141vh;
}
	
p{
    font-size: 12px;	
}
	
.box{
	background-image: 100%;
	height: 20px;
 }	
}
/**************************************************/
/*******Micro Devices ***************************/
@media screen and (max-width: 245px) {
/***********Section Body Grid Area***************************************/
#content{
	grid-template-columns: repeat(2, minmax(65px, 65px));
	grid-auto-rows: repeat(4, 55px);
    grid-gap: 1.5em;
	padding: 10px;
}
	
#content div{
	padding: 15px;
}

#content div:nth-child(even){
	padding: 15px;
}
	
section{
	height: 275vh;
}

.box{
	height: 3em;
 }
}
/**************************************************/
/*******Tiny Devices ***************************/
@media screen and (max-width: 160px) {
#content{
	grid-template-columns: repeat(2, minmax(50px, 50px));
	grid-auto-rows: repeat(4, 50px);
	grid-column-gap: 1%;
	grid-row-gap: 3%;
    grid-gap: 1.3em;
}
#content div{
	padding: 20px;
}

section{
	height: 235vh;	
}

.box{
	height: 1em;
 }
}
/**************************************************/
@media screen and (max-width: 123px) {
/**************************************************/
	
#content{
	grid-template-columns: repeat(1, minmax(50px, 50px));
}
section{
	height: 460vh;	
 }		
}
